<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head',  {css: ['geral.css', 'form-add-produto.css', 'clientes-adm.css']}) %>
  <body>

    <aside>

      <div class="asidebloco">
        <div class="titulo-img">
          <span>BRACKISH</span>
        </div>
        <div class="ul">
          <a href="/clientes-adm"><div class="nth1">Clientes</div></a>
          <a href="/produtos-adm"><div>Produtos</div></a>
          <a href="/pedidos-adm"><div class="nth">Pedidos</div></a>
          <a href="/categorias-adm"><div class="nth">Categorias</div></a>
          <a href="/resultado-administradores-adm"><div class="nth">Administradores</div></a>
        </div>
      </div>

    </aside>
    
    <main>

      <section class="fullcontainer">

        <section class="cabecalho">
          <div class="userbar">
            <div class="user">
              <% if(locals.admSession) { %>
                <span>Olá, <%=admSession %> </span>
              <% } %>
            </div>
            <nav>
              <a href="">Perfil</a>
              |
              <a href="/adm/logout">Sair</a>
            </nav>
          </div>
          <div class="cabecalhoInter">
            <h3>Editar administrador</h3>
            <div class="add">
              <button class="adicionar" type="button">Adicionar</button>
            </div>
          </div>
        </section>

        <form action="/adm/administradores/atualizar/<%= editAdmin.id%>" method="post" class="formEdit">
            
            <section class="bloco1">
                <label>
                    <h4>Nome:</h4>
                    <input type="text" name="nome" id="nome" value="<%= editAdmin.nome %>"/>
                </label>
    
                <label>
                    <h4>E-mail:</h4>
                    <input type="email" name="email" id="email" value="<%= editAdmin.email %>"/>
                </label>
            </section>
    
            <section class="bloco2">
                <label>
                    <h4>Senha:</h4>
                    <input type="password" name="senha" id="senha" />
                </label>
      
                <button type="submit">Salvar</button>
            </section>
    

    
        </form>

    </main>
</body>
</html>