<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head',  {css: ['geral.css', 'form-add-produto.css', 'clientes-adm.css']}) %>
  <body>

    <aside>

      <div class="asidebloco">
        <div class="titulo-img">
          <span>BRACKISH</span>
        </div>
        <div class="ul">
          <a href="/clientes-adm"><div class="nth1">Clientes</div></a>
          <a href="/produtos-adm"><div>Produtos</div></a>
          <a href="/pedidos-adm"><div class="nth">Pedidos</div></a>
          <a href="/categorias-adm"><div class="nth">Categorias</div></a>
          <a href="/resultado-administradores-adm"><div class="nth">Administradores</div></a>
        </div>
      </div>

    </aside>
    
    <main>

      <section class="fullcontainer">

        <section class="cabecalho">
          <div class="userbar">
            <div class="user">
              <% if(locals.admSession) { %>
                <span>Olá, <%=admSession %> </span>
              <% } %>
            </div>
            <nav>
              <a href="">Perfil</a>
              |
              <a href="/adm/logout">Sair</a>
            </nav>
          </div>
          <div class="cabecalhoInter">
            <h3>Editar pedido</h3>
            <div class="add">
              <button class="adicionar" type="button">Adicionar</button>
            </div>
          </div>
        </section>

        <form action="/adm/pedidos/atualizar/<%= pedidos.dataValues.id %>" method="post" class="formEdit">
            
            <section class="bloco1">
                <label>
                    <h4>Endereço:</h4>
                    <input type="text" class="inputEndereco" name="bairro" id="bairro" placeholder="Bairro" />
                    <input type="text" class="inputEndereco" name="rua" id="rua" placeholder="Rua"/>
                    <input type="text" class="inputEndereco" name="numero" id="numero" placeholder="Número"/>
                    <input type="text" class="inputEndereco" name="cep" id="cep" placeholder="CEP" />
                </label>
        
                <label for="formaDePagamento">
                    <h4>Formas de agamento:</h4>
                    <select name="formaDePagamento" id="formaDePagamento">
                      <% formasDePagamento.forEach(formaDePagamento => { %>
                        <option value="<%= formaDePagamento.dataValues.id %>"><%= formaDePagamento.dataValues.nome %></option>
                      <% }); %>  

                      </select>
                </label>
    
              
            </section>
    
            <section class="bloco2">
                <!-- <label>
                    <h4>Preço:</h4>
                    <input type="text" name="preco" id="preco" placeholder="coloque aqui o preço do produto" />
                </label> -->
                <label>
                  <h4>Produto:</h4>
                  
                  <% for( let produto of pedidos.produtos ) { %>
                    <tr>
                      <div class="teste">
                        <td >
                          <%= produto.nome %> 
                          <div class ="produtoAcao">
                            <!-- <div>
                              <form action="/adm/produtos/editar/<%= produto.id %>" method="get">
                                <button type="submit">Editar</button>
                              </form>
                            </div>
                              
                            <div>
                              <form action="/deleteproduto/<%= produto.id %>?_method=DELETE" method="post">
                                <button type="submit">X</button>
                              </form>
                            </div> -->
                              
                          </div>
                        </td>

                      </div>
                      
        
                      <!-- <td>
                        <div class ="acao">
                          <div>
                            <form action="/adm/produtos/editar/<%= produto.id %>" method="get">
                              <button type="submit">Editar</button>
                            </form>
                          </div>
                            
                          <div>
                            <form action="/deleteproduto/<%= produto.id %>?_method=DELETE" method="post">
                              <button type="submit">X</button>
                            </form>
                          </div>
                            
                        </div>
                      </td> -->
                    
                    </tr>
                  <% } %>
              </label>
        
                
                <button type="submit">Salvar</button>
            </section>
    

    
        </form>

    </main>
</body>
</html>