<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head',  {css: ['geral.css', 'form-add-produto.css', 'clientes-adm.css']}) %>
  <body>

    <aside>

      <div class="asidebloco">
        <div class="titulo-img">
          <span>BRACKISH</span>
        </div>
        <div class="ul">
          <a href="/clientes-adm"><div class="nth1">Clientes</div></a>
          <a href="/produtos-adm"><div>Produtos</div></a>
          <a href="/pedidos-adm"><div class="nth">Pedidos</div></a>
          <a href="/categorias-adm"><div class="nth">Categorias</div></a>
          <a href="/resultado-administradores-adm"><div class="nth">Administradores</div></a>
        </div>
      </div>

    </aside>
    
    <main>

      <section class="fullcontainer">

        <section class="cabecalho">
          <div class="userbar">
            <div class="user">
              <% if(locals.admSession) { %>
                <span>Olá, <%=admSession %> </span>
              <% } %>
            </div>
            <nav>
              <a href="">Perfil</a>
              |
              <a href="/adm/logout">Sair</a>
            </nav>
          </div>
          <div class="cabecalhoInter">
            <h3>Editar produto</h3>
            <div class="add">
              <button class="adicionar" type="button">Adicionar</button>
            </div>
          </div>
        </section>

        <form action="/adm/produtos/atualizar/<%= produto.id %>" method="post" class="formEdit">
            
            <section class="bloco1">
                <label>
                    <h4>Nome:</h4>
                    <input type="text" name="nome" id="nome" value="<%= produto.nome %>" />
                </label>
        
                <label for="categorias">
                    <h4>Categoria:</h4>
                    <select name="categorias" id="categorias">
                      <% categorias.forEach(categoria => { %>
                        <option value="<%= categoria.id %>"><%= categoria.nome %></option>                  
                      <% }); %>
                    </select>
                </label>
    
                <label for="fornecedores">
                    <h4>Fornecedor:</h4>
                    <select name="fornecedores" id="fornecedores">
                      <% fornecedores.forEach(fornecedor => { %>
                        <option value="<%= fornecedor.id %>"><%= fornecedor.nome %></option>                  
                      <% }); %>
                    </select>
                </label>
            </section>
    
            <section class="bloco2">
                <label>
                    <h4>Preço:</h4>
                    <input type="text" name="preco" id="preco" value="<%= produto.preco %>" />
                </label>
        
                <label>
                    <h4>Foto:</h4>
                    <img src="" alt="foto do produto">
                    <div>Clique para selecione nova imagem</div>
                    <input type="file" name="img" id="img">
                </label>
                <button type="submit">Salvar</button>
            </section>
    

    
        </form>

    </main>
</body>
</html>