<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head', {css: ['headerStyle.css', 'carrinho.css', 'geral.css', 'footerStyle.css']}) %>
<script src="js/carrinho.js" defer></script>
    <body>
        
        <%- include('../partials/header') %>

            <main>

                <div class="sacola">
                    <span>CONFIRA SEU CARRINHO</span>
                </div>


               

                <% if (produtos == undefined) { %>
                    <div class="carrinhoVazio">
                        <h1>Carinho Vazio</h1>
                    </div>
                <% } else{ %>
                     <!-- SESSÃO DE SPANS-->
                <section class="sectionSpan">


                    <!--Spans-->
                    <span class="spanProdutos">Produtos</span>
                    <span class="span">Quantidade</span>
                    <span class="span">Valor Unitário</span>
                    <span class="span">Valor Total</span>

                </section>
                <!-- SESSÃO DE DADOS SOBRE O PRODUTO-->
                    
                    <% count =0 %>
                    <% for( let prod of produtos ) { %>
                    
                        
                        <section class="sectionDados">
                            <div class="ImagemEdescricao">
                                <img src=<%= prod.endereco %> alt="imagem1">
                                    <div class="spanDescricaoDoProduto">
                                            <span><%= prod.nome %></span>
                                            <span><%= prod.corescolha %></span>
                                            <span><%= prod.tamanhoescolha %></span>
                                    </div>  
                            </div>
                                

                            <section class="sectionQuantidadeProdutos">
                                    <!-- <span><%= prod.quantidade %></span> -->
                                    <button class="btRemove" type="button">-</button>
                                    <input class="quantidade" step= 1 min="0" max="100" id="quantidade" name="quantidade" value=<%= prod.quantidade %>>
                                    <button class="btAdd" type="button">+</button>
                                    
                                    
                            </section>
                                    
                                    <span class="valor" name="precoun"><%= prod.preco %></span>
                                    <span class="valorTotal" name="precoquantidade" ><%= prod.preco*prod.quantidade %></span>
                                    <input type="hidden" class="valorTotalH" name="valorTotalH" value=<%= prod.preco*prod.quantidade %>>

                                    <form action="/deleteCarrinho/<%= prod.id %>/<%= prod.tamanhoescolha %>/<%= prod.corescolha %>" method="get">
                                        <button class="delete" type="submit"><img src="/img/lixeira.png" alt=""></button>
                                    </form>    
                        </section>
                        <% count += prod.preco*prod.quantidade%>
                    <% } %> 
                    
                    
                                <!-- DIV SUBTOTAL -->
                                <div class="divSubtotal">
                                    <span class="subtotal">SUBTOTAL:</span>
                                    <span class="total">$<%= count %></span>
                                </div>
                                
                                <!---->
                                <div class="divDescricaoCarrinho">
                                    <!-- <span>Prazo de entrega</span> -->
                                    <span>Cupom de desconto</span>
                                    
                                    <form action="/finalizarCompra" method="get">
                        
                                        <% for( let prod of produtos ) { %>
                                            <input type="hidden" class="quantidadeHidden" name='quantidade'>
                                            <input type="hidden" class='valorTotalHidden' name="valorTotal">
                                        <% } %>
                                            <input type="hidden" name="valorTotalTotal" value=<%= count %>>
                                        <button class="inputPrazo" type="submit">Finalizar</button>
                                </form>
                                    <span>Resumo: $<%= count %></span>
                                </div>
                                
                                <!-- <div class="divPrincipalFinal">
                                    
                                    <div class="PrazoDeEntrega">
                                        
                                        <div class="divInputPrazoEntrega">
                                            <form action="#" method="post" name="inputRecebeCep">
                                                <input class="inputPrazo" type="text" name="inputRecebeCep" placeholder="00000-000" maxlength="9">
                                                <button type="submit" class="">Calcular</button>
                                            </form>
                                        </div>
                                        
                                        <a href="https://buscacepinter.correios.com.br/app/endereco/index.php">Não sei meu CEP</a>
                                        
                                        
                                        
                                    </div>
                                    
                                </div> -->
                        <% } %>        
            </main>
                            
        <%- include('../partials/footer') %>
         
        <script src="js/footer.js"></script>

    </body>


</html>