<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head', {css: ['geral.css', 'headerStyle.css' , 'footerStyle.css' , 'editarPerfilStyle.css', 'clienteStyle.css' ]}) %>

    <body>

        <%- include('../partials/header') %>

            <main>
                <section class="containerMain">

                <%- include('../partials/centro-pessoal') %>

                    <div class="cliente">
                        <h2>EDITAR PERFIL</h2>
                        <div class="clienteContainer">

                            <form action="/cliente/editar/<%= user.id %>" method="post" class="formEdit">
            
                                <section class="bloco1">
                                    <label>
                                        <h4>Nome:</h4>
                                        <input type="text" name="nome" id="nome" value="<%= user.nome %>" />
                                    </label>

                                    <label>
                                        <h4>E-mail:</h4>
                                        <input type="email" name="email" id="email" value="<%= user.email %>"/>
                                    </label>
                        
                                    <label>
                                        <h4>Telefone:</h4>
                                        <input type="text" name="telefone" id="telefone" value="<%= user.telefone %>"/>
                                    </label>
                                </section>
                        
                                <section class="bloco2">
                                    <label>
                                        <h4>Senha atual:</h4>
                                        <input type="password" name="senhaAtual" id="password"/>
                                    </label>

                                    <label>
                                        <h4> Nova senha:</h4>
                                        <input type="password" name="novaSenha" id="password"/>
                                    </label>

                                    <label>
                                        <h4>Repita nova senha:</h4>
                                        <input type="password" name="repitaNovaSenha" id="password"/>
                                    </label>
                          
                                    <button type="submit" id="salvar">Salvar</button>
                                </section>
                        
                    
                        
                            </form>

                        </div>
                    </div>

                </section>
                </div>
            </main>

            <%- include('../partials/footer') %>

    </body>


</html>