<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {css: ['headerStyle.css', 'mainStyle.css', 'geral.css', 'footerStyle.css', 'produtoStyle.css']}) %>
<script src="/js/produto.js" defer></script>
<body>
    <%- include('../partials/header') %>

        <% if (produto == undefined) { %>
            <div class = 'paginaNaoEncontrada'>
                <h1>Produto não encontrada</h1>
            </div>
 
        <% }else{ %>
        
            <main>
                    <div class="container-main">
                        <div class="img-prod">
                            <img src=<%= produto.endereco %> alt="jaqueta1">
                            <img src=<%= produto.endereco %> alt="jaqueta2">
                            <img src=<%= produto.endereco %> alt="jaqueta3">
                            <img src=<%= produto.endereco %> alt="jaqueta4">
                        </div>
                        <div class="container-main-2">
                            <div class="name-prod">
                                <h3><%= produto.nome %></h3>
                                <span>R$<%= produto.preco %></span>
                            </div>
                            <div class="box-description">
                                <div class="description">
                                    <p>
                                        <%= produto.descricao %>
                                        
                                    </p>
                                    
                                </div>
                            </div>

                            <form action="/addCarrinho" method="get">
                                    <div class="box-cores">
                                        <h5>Cor</h5>
                                        <div class="cores">
                                            <% for(let prod of produto.cor) { %>
                                                <input class="<%= prod %>" type="button" name="cor" value="<%= prod %>"> <!--   tem que ter o mesmo nome * -->
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="box-tamanhos">
                                        <h5>Tamanho</h5>
                                        <div class="tamanhos">
                                            <% for(let prod of produto.tamanho) { %>
                                                <input class="tam1" type="button" name="tamanho" value="<%= prod %>"> <!--   tem que ter o mesmo nome ** -->
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="select-prod">
                                        <button type="submit" class="comprar"> Adicionar ao carrinho </button>
                                        <div>
                                            <button class="remove" type="button"> - </button>
                                            <input class="qtd-camisa" step="1" min="0" max="100" value="1" name="quantidade">
                                            <button class="add" type="button"> + </button>
                                        </div>
                                        <input type="hidden" id="cor-selecionada" name="cor" value=""> <!--   tem que ter o mesmo nome * -->
                                        <input type="hidden" id="tamanho-selecionado" name="tamanho" value=""> <!--   tem que ter o mesmo nome ** -->
                                        <input type="hidden" name="id" value=<%= produto.id %>>
                                        <!-- <input type="hidden" id="teste" name="teste" value=""> o input hidden ele é enviado no formulario igual a email e cia -->
                                    </div>
                                
                                    
                            </form>
            
                        </div>
                    </div>
            </main>
        <% } %>
    <%- include('../partials/footer') %>

</body>

</html>