<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {css: ['geral.css', 'headerStyle.css', 'resultado_busca.css', 'footerStyle.css']}) %>

<body>

    <%- include('../partials/header') %>

    <main>
        <section class="categoria-list">
            <h3 class="categoria-titulo">Categorias</h3>

            <ul>
                <a href="/resultado-busca?mulher" class="categoria-link"><li>Mulher</li></a>
                <a href="/resultado-busca?homem" class="categoria-link"><li>Homem</li></a>
                <a href="/resultado-busca?infantil" class="categoria-link"><li>Infantil</li></a>
                <a href="/resultado-busca?sapatos" class="categoria-link"><li>Sapatos</li></a>
                <a href="/resultado-busca?acessorios" class="categoria-link"><li>Acessórios</li></a>
                <a href="/resultado-busca?presentes" class="categoria-link"><li>Presentes</li></a>
                <a href="/resultado-busca?promocoes" class="categoria-link"><li>Promoções</li></a>
            </ul>

        </section>
        <div class="ppp">
            <section>
                <div class="products-container">
                <% if (produtos.length > 0) { %>
                    <% for (const prod of produtos) { %>
        
                        <article class="produto-detalhado">
                                <a href="/produto?id=<%= prod.id%>"><img src=<%= prod.endereco %> alt="bermuda-agua-osklen"  class="img-produto-detalhado"></a>
                                <h4> <%= prod.nome %></h4>
                                <span>R$ <%= prod.preco %></span>
                                <!-- <a href="/produto?id=<%= prod.id%>" alt="roupa_loja" class="link-mais-detalhes">Ver mais detalhes</a> -->
                                <!-- <button class="bt-mais-detalhes">Adicionar ao carrinho</button> -->
                        </article> 
                        
                    <% } %>
                 
                <% } else { %>
                    <h1>Produto não encontrado</h1>
                <% } %>
                 
            </div>    
            </section>
        </div>
        
    </main>
    
    <%- include('../partials/footer') %>
    
</body>
</html>