<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',  {css: ['geral.css', 'form-add-produto.css']}) %>
<body>
    <main>
        <form action="/atualizar/<%= prod.id %>?_method=PUT" method="post">
    
            <label>
                Nome:
                <input type="text" name="nome" id="nome" value="<%= prod.nome %>" />
            </label>
    
            <label>
                Categoria:
                <input type="text" name="categoria" id="categoria" value="<%= prod.categoria %>" />
            </label>
    
            <label>
                Fornecedor:
                <input type="text" name="fornecedor" id="fornecedor" value="<%= prod.fornecedor %>" />
            </label>
    
            <label>
                Preço:
                <input type="text" name="preco" id="preco" value="<%= prod.preco %>" />
            </label>
    
            <label>
                Foto:
                <img src="" alt="foto do produto">
                <div>Clique para selecione nova imagem</div>
                <input type="file" name="img" id="img">
            </label>
    
            <button type="submit">Salvar</button>
    
        </form>

    </main>
</body>
</html>