<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {css: ['clientes-adm.css']}) %>

  <body>
    <main>
      <aside>
        <div class="asidebloco1">
          <div class="titulo-img">
            <!-- <a href="" id="logo2"><img src="img/earth.png" alt="logo2"></a> -->
            <span>BRACKISH</span>
          </div>
          <div class="ul">
            <!-- <a href=""><div>Vendedores</div></a> -->
            <a href="/clientes-adm"><div>Clientes</div></a>
            <a href="/produtos-adm"><div>Produtos</div></a>
            <a href="/pedidos-adm"><div class="nth">Pedidos</div></a>
            <!-- <a href=""><div class="nth">Entregas</div></a> -->
          </div>
        </div>
      </aside>

      <div class="mobile">
        <div id="botao">|||</div>
      </div>

      <section class="fullcontainer">
        <section class="cabecalho">
          <div class="userbar">
            <div class="user">
              <span>Alexandre Assis Rezende Santos </span>
            </div>
            <nav>
              <a href="">Perfil</a>
              |
              <a href="">Sair</a>
            </nav>
          </div>
          <div class="cabecalhoInter">
            <h3>Pedidos</h3>
            <div class="add">
              <button class="adicionar" type="button">Adicionar</button>
            </div>
          </div>
        </section>
        <section class="table">
          <div>
            <div class="tableBusca">
              <div class="tableselect">
                <select name="select" id="">
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                <label for="select">Resultados por busca</label>
              </div>
              <div class="tablepesquisar">
                <input
                  type="text"
                  name="pesquisar"
                  id="pesquisar"
                  placeholder="Pesquisar"
                />
              </div>
            </div>

            <table id="customers">
              <tr>
                <th>Cliente</th>
                <th>ID-produto</th>
                <th>Endereço</th>
                <th>Forma de Pagamento</th>
                <th>Ações</th>
              </tr>
              <% pedidos.forEach(pedido => { %>

              <tr>
                <td><%= pedido.clientes.nome %></td>
                <td><%= pedido.produtos.nome %></td>
                <td>
                  <%= pedido.enderecos.logradouro %>, <%=
                  pedido.enderecos.numero %>
                </td>
                <td><%= pedido.formas_de_pagamento.nome %></td>
                <td>
                  <div class="acao">
                    <div>Editar</div>
                    <div>x</div>
                  </div>
                </td>
              </tr>

              <% }) %>
            </table>
            <div></div>
          </div>
          <div class="showresults">
            <ul>
              <li><button><</button></li>
              <li><a href="">1</a></li>
              <li><a href="">2</a></li>
              <li><a href="">3</a></li>
              <li><a href="">4</a></li>
              <li><a href="">5</a></li>
              <li><a href="">6</a></li>
              <li><button>></button></li>
            </ul>
          </div>
        </section>
      </section>
    </main>
  </body>
</html>
